{% extends 'layout.html' %}

{% block body %}
<div class="container">
    <div style="margin-top: 80px;" class="jumbotron text-center">
        <h1 class="display-4">Todo List App<span role="img" aria-label="Memo">📝</span></h1>
        <h4 class="mt-4">Create tasks with Flask & Python!</h4>
        {% if session.logged_in == NULL %}
        <a href="/register" class="btn btn-primary btn-lg">Register</a>
        <a href="/login" class="btn btn-success btn-lg">Login</a>
        {% else %}
        <a href="/logout" class="btn btn-primary btn-lg">Logout</a>
        {% endif %}
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{% endblock %}