</html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./stylesheets/memberspage.css">
    <title>Document</title>
</head>
<body>
     <!-- header and navbar with collapsable links -->
     <header>
        <nav class="navbar fixed-top navbar-expand-md navbar-dark" style="background-color: black;">
            <a class="navbar-brand" href="index.html">The Village App</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">About</a>
                    </li>
                    <li class="nav-item">
                      <!-- signout page not made yet-->
                        <a class="nav-link" href="signout.html".html>Sign Out</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="login.html">Log In</a> -->
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="jumbotron" id="memberhome">
        <h1 class="display-3">Welcome, {{ username }}</h1>
        <!-- <p class="lead">Connect With Your Village</p> -->
        <h3>Scroll to explore your community.</h3>
    <div class="card text-center">
      <div class="card-header">
        The Fun Stuff
            <select id="funpostlist" size="1">
              <option value="" selected="selected">---Read More Fun stuff---</option>
              {{#each funPosts}}
                  <option value="">{{ dataValues.title }}</option>
              {{/each}}
            </select>
        <a href="submit.html">Submit Something Fun</a>
      </div>
      <div class="card-body" id="funstuff">
        <div id="latest">
          <h5 class="card-title">Latest fun post</h5>
          <div id="fun-title">Title</div>
          <div id="fun-description">Description</div>
        </div>
        <div id="clicked-post">
           <h5 class="card-title">More Fun</h5>
        </div>
      </div>
     
    </div>
    <hr>
    <div class="card text-center">
      <div class="card-header">
        The Serious Stuff
              <select id="seriouspostlist" size="1">
                <option value="" selected="selected">---Read More Serious stuff---</option>
              </select>
            <a href="submit.html">Submit Something Serious</a>
      </div>
      <div class="card-body" id="seriousstuff">
        <h5 class="card-toptext">Latest serious post</h5>
        <div id="serious-title">Title</div>
        <div id="serious-description">Description</div>
          <div id="clicked-post">
            <h5 class="card-title">More Serious</h5>
          </div>
      </div>
      </div>
  
      <hr>
      <div class="card text-center">
        <div class="card-header">
          Your Posts
        </div>
        <div class="card-body" id="memberhistory">
          <h5 class="card-title">Your history of Submissions</h5>
          <p class="card-historytext">current submission posts here</p>
          <a href="#" class="btn btn-primary">See More</a>
        </div>
       
    </div>
  </div>
  </div>




  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/members.js"></script>

</body>
</html>