<!-- header and navbar with collapsable links -->
    <header>
      <nav
        class="navbar fixed-top navbar-expand-md navbar-dark"
        style="background-color: black;"
      >
        <a class="navbar-brand" href="/">The Village App</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarTogglerDemo01"
          aria-controls="navbarTogglerDemo01"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/signup">Sign Up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Log In</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <!-- Jumbotron -->
    <div class="jumbotron" id="home">
      <h1 class="display-3 stationary">Connect With Your Village!</h1>
      <h3>
        Join your village and contribute to make a more positive and prosperous
        community.
      </h3>
      <a class="btn btn-primary btn-lg" href="/login" role="button"
        >Log In</a
      >
      <a class="btn btn-primary btn-lg" href="/signup" role="button"
        >Join The Village</a
      >
    </div>

    <div>
      <div class="carousel-item">
        <h5>Community Events</h5>
        <p>
          Share or learn about important or fun events going on in your
          community
        </p>
        <div class="carousel-caption d-none d-md-block">
          <h5>Community Events</h5>
          <p>
            Share or learn about important or fun events going on in your
            community
          </p>
        </div>
      </div>
    </div>