<div class="container__form container--signup text-center">
    <form action="#" class="form" id="form1">
        <h2 class="form__title">Submit a Form</h2>

        <div>
            <label class="container2">Fun</label>
            <input id="fun" type="radio" name="radio" value="true" />
            <label class="container1">Serious </label>
            <input id="serious" type="radio" name="radio" value="false" />
        </div>

        <input type="text" placeholder="Title" class="input" id="title" />
        <textarea type="text" placeholder="Discription" class="input" rows="5" id="description"></textarea>
        {{!-- Modal --}}
        <div id="myInput" class="modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Thank you for your submission.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
                </div>
            </div>
        </div>
        {{!-- Modal --}}
        <button class="btn" type="submit" data-toggle="modal" data-target="myInput" id="myModal">Submit</button>
    </form>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="js/submit.js"></script>