<div class="container__form container--signup text-center">
    <form action="#" class="form" id="form1">
        <h2 class="form__title">Submit a Form</h2>

        <div>
            <label class="container2">Fun</label>
            <input id="fun" type="radio" name="radio" value="true" />
            <label class="container1">Serious </label>
            <input id="serious" type="radio" name="radio" value="false" />
        </div>

        <input type="text" placeholder="Title" class="input" id="title" />
        <textarea type="text" placeholder="Discription" class="input" rows="5" id="description"></textarea>

        <button class="btn" type="submit">Submit</button>
    </form>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="js/submit.js"></script>