.tinted-image {
  background:
    /* top, transparent red, faked with gradient */ linear-gradient(
      rgba(255, 0, 0, 0.1),
      rgba(255, 0, 0, 0.1)
    ),
    /* bottom, image */ url("/assets/hut.jpg");
  min-height: 100vh;
  background-size: 100%;
  text-align: center;
  padding-top: 12%;
}

.jumbotron {
  background: none;
}

h3 {
  margin-right: 10px;
  margin-left: 10px;
  padding-bottom: 3%;
}

.btn-secondary {
  margin-right: 10px;
  margin-left: 10px;
}
