.jumbotron {
  /* background: linear-gradient(rgba(0, 0, 250, 0.25), rgba(125, 250, 250, 0.45)),
    url(https://media.nationalgeographic.org/assets/photos/000/249/24969.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed; */
  color: 888f6b;
}

#memberhome {
  text-align: center;
}

.carousel-item {
  width: 100%;
  height: 50%;
}
