.jumbotron {
  /* background: linear-gradient(rgba(0, 0, 250, 0.25), rgba(125, 250, 250, 0.45)),
    url(https://media.nationalgeographic.org/assets/photos/000/249/24969.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed; */
  height: 100vh;
  padding-top: 10%;
  padding-bottom: 10%;
}

#memberhome {
  text-align: center;
}

.carousel-item {
  width: 100%;
  height: 50%;
}
.card-header {
  font-size: 20px;
}
h5 {
  font-size: 15px;
}
ul {
  list-style: none;
}

li {
  padding: 5px;
  margin: 5px;
  border: 1px;
}
